header {
    background-color: #111111;
    margin-bottom: 16px;
    padding: 16px 0;
}

header h1 {
    color: white;
}

.card {
    margin-bottom: 32px;
}

.h1 .h2 {
    font-weight: bold;
}

h2 {
    margin-bottom: 24px;
    padding-bottom: 8px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.486);
}

.h1 {
    color: #FF4655;
}

.card-img-overlay h3 {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.705);
    position: absolute;
    top: 190px;
}

.card-footer a {
    border: none;
    font-size: 18px;
    background-color: black;
    font-weight: bold;
}

#gekko-footer {
    background-color: #C6DF3F;
}

#reyna-footer {
    background-color: #C452FB;
}

#omen-footer {
    background-color: #666A9A;
}

#chamber-footer {
    background-color: #c7b729;
}